*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.navbar-brand{
font-size: 4rem;
color: black;
font-family: 'Beau Rivage', cursive;
/* font-family: 'Send Flowers', cursive; */

}
/* nav{
position:fixed    ;
top: 0;
} */

.nav-link{
margin-right: 10px;
margin-left:10px;
color: #000;
text-transform: uppercase;
font-family: 'Roboto Slab', serif;
}
.nav-link:hover{
color: black;
}
.search{
height: 40px;
width: 200px;
border-radius: 60px;
outline: none;
margin-right: -40px;
font-family: 'Roboto Slab', serif;
border: 2px solid red;
padding: 0 0 0 20px;
}
.btn0{
height: 40px;
width:70px;
outline: none;
border: none;
background-color: rgb(248,26,92);
color: white;
font-weight: 500;
border-radius: 20px;
}
.main{
background: url("foodie images/nadine-primeau--ftWfohtjNw-unsplash.jpg") no-repeat;
background-size: cover;
background-position: 50% 50%;
height: 100vh;
width: 100%;
}
.main h1{
font-size: 4rem;
font-weight: 700;
color: white;

}
.btn1{
height: 45px;
width:35%;
border: none;
outline:none;
background-color: rgb(248,26,92);
border-radius:60px;
color: white;
font-weight: 1000;
transition: 0.5s;

}
/* .row-img img{
display: inline-block;
} */

h1{
font-weight: 700;
}
.btn1:hover{
background-color: rgb(255,0,0) ;
transition: 0.5s;
}
.card:hover{
    -webkit-box-shadow: 1px 5px 22px -4px rgba(0,0,0,0.84);
    -moz-box-shadow: 1px 5px 22px -4px rgba(0,0,0,0.84);
    box-shadow: 1px 5px 22px -4px rgba(0,0,0,0.84);
    transition: 0.5s;
}
.apple{
background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("foodie images/karly-gomez-Fk6ULMTxqj4-unsplash.jpg") no-repeat;
background-size: cover;
height: 80vh;
width: 100%;

}
.apple h1{
    font-family: 'Lobster', cursive;
}
.news{
background-color: #000;
color: white;
}
.btn2{
height: 45px;
width: 100px;
background: white;
border: 2px solid white;
font-weight: 600;
margin-left:-10px;
}
.news input{
height: 45px;
width: 55%;
border: 2px solid #000;
outline: none;
background-color: #fff;
color: black;
border-radius: 20px;
font-weight: 600;
}

.news::placeholder{
color: white;
}
.news p{
    margin: 0;
}
.fab{
font-size :2.5rem;
cursor: pointer;
padding-right: 10px;

}
.cursor:hover{
    cursor: pointer;
    text-decoration: underline;
}